* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;

}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px  5px rgba(79, 43, 209, 0.4);
}

/*construccion del contenedor principal */

.card .content {
    position: relative;
    z-index: 200;
    width: 100%;
    height: 100%;
    border: radius 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    background: rgb(196, 188, 197);
}

.card .content .img {
    height: 50%;
    margin-bottom: 28px;
}

.card .content .img img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 8);    
}

.card .content span {
    position: absolute;
    width: 350px;
    height: 200px;
    background:linear-gradient(to right, #390cad, #86c290);
    transform: rotate(-35deg);
    top: -50px;
    left: -100px;
}

.card .content h4{
    font-size: 17px;
    color: #1a1919;
    margin-bottom: 8px;
    
}

.card .content h6{
    font-size: 13px;
    color: #5e2066;
}

.card .content p{
    font-size: 13px;
    color: #1a161f;
}
header{
    width: 100%;
    overflow: hidden;
    background: #989fa3;
    margin: bottom 20px;    
}




/*construccion del estilo de la tarjeta de los links */
.card .links {
    position: absolute;
    z-index: 150;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 2px;
    align-items: center;
    right: 10px;
    top: 0px;
    transition: 5ms;
}
/*efecto hover esconder los logos*/
.card:hover .links {
    right: -50px;
    border-radius: 0 10px 10px 0;
}

.card .links a {
    font-size: 20px;
    color: #646069;
}
/* con esta instruccion se produce le cambio de color de los iconos*/
.card .links a:nth-child(1):hover {
    color: hsl(130, 82%, 47%);
}

.card .links a:nth-child(2):hover {
    color: #06d845b0;
}

.card .links a:nth-child(3):hover {
    color: #46a84b;
}

.card .links a:nth-child(4):hover {
    color: #1ce437;
}

.card .links a:nth-child(5):hover {
    color: #09da2c;
}
.card .links a:nth-child(6):hover {
    color: #21e04b;
}

/*construccion del estilo de la tarjeta de los links2 */
.card .links2 {
    position: absolute;
    z-index: 100;
    width: -200px;
    height: -150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 20px;
    top: 0px;
    transition: 5ms;
}
/*efecto hover esconder los logos*/
.card:hover .links2 {
    right: 250px;
    border-radius: 0 10px 10px 0;
}

.card .links2 a {
    font-size: 10px;
    color: #646069;
}
/* con esta instruccion se produce le cambio de color de los iconos*/
.card .links2 a:nth-child(1):hover {
    color: #16da37;
}

.card .links2 a:nth-child(2):hover {
    color: #18d806b0;
}



/*construccion del estilo de la tarjeta de los links3 */
.card .links3 {
    position: absolute;
    z-index: 100;
    width: -200px;
    height: -150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 25px;
    top: 200px;
    transition: 5ms;
}
/*efecto hover esconder los logos*/
.card:hover .links3 {
    right: 250px;
    border-radius: 0 10px 10px 0;
}

.card .links3 a {
    font-size: 20px;
    color: #646069;
}
/* con esta instruccion se produce le cambio de color de los iconos*/
.card .links3 a:nth-child(1):hover {
    color: #16da37;
}

.card .links3 a:nth-child(2):hover {
    color: #18d806b0;
}


